body {
  background-color: #CC00CC;
}
  
h1 { 
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}

.introheader {
  color: #ffd9f6;
  text-align: center;
  font-family: sans-serif;
  font-size:30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer { 
  color: rgb(255, 217, 246);
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
  margin:0 auto;  
}
  
.intro { 
  margin: 0;
  color: rgb(255, 217, 246);
  text-align: center;
  font-family:sans-serif;
  font-size: 17px;
}

.collectionlink { /* add change of color when hovering */
  display: inline-block;
  margin-left: 10%;
  color: #ffd9f6; 
}

.reclink {  /* add change of color when hovering */
  display: inline-block;
  margin-left: 10%;	
  color: #ffd9f6;
}

.lunavatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto 0;
  margin-top: -35px;
}

.avatarcaption {
  color: rgb(255, 217, 246);
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: -15px;
 }

hr { 
  height: 8px;
  border-color: #730287;
  width: 50%;
  background: radial-gradient(circle, #b871ff, #730287);
  box-shadow: -5px 5px 9px -1px #d688fa;
}

.introborder {
  margin-left: 25%;
  margin-right: 25%;
  border: 8px double rgba(255, 106, 192, 0.3)
}

.linkborder {
  width: 300px;
  margin-left: 37%;
  margin-right: 36%;
  margin-top: 25px;
  border: dotted rgba(255, 106, 192, 0.3)
}

/* The Collection */

.thealbums {
  width: 250px;
  height: 250px;
  display: flex; 
}

.nevermind { /*find out why this isn't working*/
  width: 300px;
  height: 300px; 
}

/* suggestions */
.construction {      
  display: block;
  margin: auto;
  width: auto;
  }

